@model ControlPanel.Models.Users
@{
    ViewData["Title"] = "Delete " + Model.Name;
}

<div class="modal show" id="modal-id" style="margin-top:100px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Really delete user @(Model.Name.Decrypt())?</h4>
            </div>
            <div class="modal-body">
                
                <form asp-action="Delete" method="POST" role="form">
                    <div class="form-group">
                        <input type="hidden"  name="_id" value="@(Model.id)">
                        <input type="hidden"  name="_name" value="@(Model.Name.Decrypt())">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                    
                    <a class="btn btn-primary" role="button" asp-action="Index">   
                        Cancel
                    </a>
                </form>
                
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>