@{
    ViewData["Title"] = "Add Customer's Details";
}


<form asp-action="Add" method="POST" role="form" name="customerdetails" autocomplete="off"
        onsubmit="return CustDetailsValidate()">
    <legend>Add Customer's Details</legend>

    <div class="form-group">
        <label>Entry Type</label>
        <input type="text" class="form-control" name="_type" placeholder="e.x. Wordpress">
        <div class="alert alert-danger" id="customerdetails_type" style="display: none;"></div>
    </div>

    <div class="form-group">
        <label>User Name</label>
        <input type="text" class="form-control" name="_username">
        <div class="alert alert-danger" id="customerdetails_username" style="display: none;"></div>
    </div>

    <div class="form-group">
        <label>Password</label>
        <input type="text" class="form-control" name="_password">
        <div class="alert alert-danger" id="customerdetails_password" style="display: none;"></div>
    </div>

    <input type="hidden" name="_custId" value="@Model">

    <button type="submit" class="btn btn-primary">Submit</button>

    <a class="btn btn-primary" role="button" asp-action="Customer"
            asp-controller="CustomerDetails" asp-route-id="@Model">
        To Details
    </a>
</form>