@{
    ViewData["Title"] = "Delete Detail No " + Model;
}

<div class="modal show" id="modal-id" style="margin-top:100px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Really delete customer's detail Line No @Model ?</h4>
            </div>
            <div class="modal-body">
                
                <form asp-action="Delete" method="POST" role="form">
                    <div class="form-group">
                        <input type="hidden" name="_lineNo" value="@Model">
                        <input type="hidden" name="_custId" value="@ViewData["id"]">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                    
                    <a asp-action="Customer" asp-controller="CustomerDetails" asp-route-id="@ViewData["id"]">
                        <button type="button" class="btn btn-primary">To Details</button>
                    </a>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>